<!DOCTYPE html>
<html>
  <head>
    <title>RailsDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <script type='text/javascript' async defer>
      <% flash.each do |type, msg| %>
        alert('<%= msg %>')
      <% end %>
    </script>

    <%= yield %>
  </body>
</html>
